* {
    font-family: arial, sans-serif;
    color: #545454;
}

html, body {
    margin: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper.index-page {
    justify-content: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section .search-container {
    margin-top: 20px;
    width: 100%;
}

.main-section .search-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container .search-button {
    color: #757575;
    background: #f5f5f5;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 1px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.main-section .search-container .search-box {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 44px;
    border-radius: 2px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    width: 45%;
    max-width: 630px;
    color: #000;
}

.main-section .logo-container {
    width: 220px;
    text-align: center;
}

.logo-container img {
    width: 100%;
}

.header {
    background: #FAFAFA;
    border: 1px solid #ebebeb;
}

.wrapper .header-content {
    display: flex;
    align-items: center;
}

.header-content .logo-container {
    width: 150px;
    padding: 5px 20px;
    box-sizing: border-box;
}

.header-content .search-container {
    flex: 1;
}

.header-content .search-container form {
    margin: 15px 0 28px 0;
}

.header-content .search-bar-container {
    height: 44px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 70%;
    max-width: 630px;
    box-sizing: border-box;
    display: flex;
}

.header-content .search-bar-container .search-box {
    flex: 1;
    border: none;
    background: transparent;
    padding: 12px;
    font-size: 16px;
    color: #000;
    outline: none;
}

.header-content .search-bar-container .search-button {
    background: #fff;
    height: 44px;
    margin-top: 0;
    width: 44px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.header-content .search-bar-container .search-button img {
    width: 22px;
}

.tabs-container {
    margin-left: 150px;
}

.tabs-container .tab-list {
    padding: 0;
    margin: 0;
}

.tabs-container .tab-list li {
    display: inline-block;
    padding: 0 16px 12px 16px;
    color: #777;
    font-size: 13px;
}

.tabs-container .tab-list li a {
    text-decoration: none;
}

.tabs-container .tab-list li.active {
    border-bottom: 3px solid #1A73E8;
}

.tabs-container .tab-list li.active a {
    font-weight: bold;
    color: #1A73E8;
}

.main-results-section {
    flex: 1;
}

.main-results-section .results-count {
    font-size: 13px;
    color: #808080;
    margin-left: 150px;
}

.main-results-section .site-results {
    margin-left: 150px;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.result-container .title {
    margin: 0;
}

.result-container .title a {
    color: #1a0dab;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}

.result-container .title a:hover {
    text-decoration: underline;
}

.result-container .url {
    color: #006621;
    font-size: 14px;
}

.result-container .description {
    font-size: 12px;
    margin-top: 6px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.page-buttons {
    display: flex;
}

.page-number-container img {
    height: 37px;
}

.page-number-container,
.page-number-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.page-number {
    color: #000;
    font-size: 13px;
}

a .page-number {
    color: #4285f4;
    margin-left: 2px;
    margin-right: 2px;
}